.main-home {
    margin-top: 6%;
    color: white;
    /* min-height: 95vh; */
}



.home-title {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.home-title h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.home-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}

.home-description img {
    width: 150px;
    height: 150px;
}






.div-apps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    padding: 40px;
}

.app-expli {
    text-align: center;
}

.app-expli p {
    text-align: center;
    font-size: 20px;
    color: #a1a1a1;
}

.div-btn a {
    text-decoration: none;
}

.div-btn button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    font-size: 27px;
    border: 0;
    padding: 15px;
    background: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.div-btn button:hover,
.div-btn button:focus {
    box-shadow:
        0 0 0 0 rgba(255, 255, 255, 0.2),
        inset 6em 3.5em 0 0 rgba(255, 255, 255, 0.2);
}


.div-btn button svg {
    margin-left: 10px;
}









.div-boxs-apps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


.box-app {
    /* background-color: #383b4187; */
    background: rgb(241, 97, 112);
    background: linear-gradient(198deg, rgba(241, 97, 112, 0.6) 0%, rgba(183, 65, 134, 0.6) 35%, rgba(31, 165, 216, 0.6) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 40px;
    margin-bottom: 5%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.box-app-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 50px;
    width: 40%;
}


.box-app-text h2 {
    color: #a1a1a1;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

.box-app-text h3 {
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 0;
}

.box-app-text h4 {
    margin-bottom: 5px;
    font-size: 22px;
}

.box-app-text p{
}



.div-span-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
}

.div-span-actions span {
    /* background: rgba(255, 255, 255, 0.5); */
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.box-app-video {
    text-align: center;
    width: 50%;

}

.box-app-video video {
    width: 95%;
    height: 60%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.footer {
    text-align: center;
    margin: 100px 0;
}

.footer hr {
    width: 60%;
    border: 0;
    border-bottom: 0.5px solid white;
}



